{% extends 'layout.html' %}

{% block body %}

<div class="gallerycontainer text-center">
<h1>MTG Collection</h1>


<form method="post">

  <label for="Search">Search: </label>
  <input type="text" name="searchid">
  <input type="submit" value="Search">
</form><br>


{% if data is defined %}
<ul>
<table border=1 class="center" width=80%>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Mana Cost</th>
    <th>Type</th>
    <th>Card Text</th>
    <th>Price</th>
  </tr>
{% for card in data %}

<tr>
  <td><img src="{{card['image_uris']['small']}}"></td>
  <td>{{card['name']}}</td>
  <td>

    {% set cost = card['mana_cost'].replace('{','') %}
    {% set cost = cost.split('}') %}
    {% for mana in cost %}
    {% if mana == "" %}
    {% else %}
    {% if mana|int(-1) != -1 %}
    {{mana}}
    {% else %}
    <img src=static/img/{{mana}}.png>
    {% endif %}
    {% endif %}
    {% endfor %}

  </td>
  <td>{{card['type_line']}}</td>
  <td>{{card['oracle_text']}}</td>
  <td>${{card['prices']['usd']}}</td>
  <td><a href="/add/{{card['id']}}">Add to Collection</a></td>

</tr>
{% endfor %}
</table>
</ul>
{% endif %}

</div>
{% endblock %}
