{% extends 'layout.html' %}

{% block body %}

<div class="gallerycontainer text-center">
<h1>{{user}}'s Cards</h1>




{% if data is defined %}

{%for card in data%}




<div class="grid-x">
  <div class="cell small-2">
      <a href="{{card[6]}}"><img src="{{card[7]}}"></a>
  </div>


  <div class="cell small-4">

    {% for i in card[5].split('{') %}
           {% for words in i.split('}') %}
           {% if words == "" %}
           {% else %}
           {% if words|int(-1) != -1 %}
           {{words}}
           {% elif ":" in words %}
           {{words}}
           {% elif words|length > 1 %}
           {{words}}
           {% else %}
           <img src=static/img/{{words}}.png>
           {% endif %}
           {% endif %}
           {% endfor %}
    {% endfor %}


  </div>

  <div class="cell small-6">
      <div class="grid-x">
        <div class="cell small-6">
          Card Name: {{card[2]}}
        </div>
      </div>
      <div class="grid-x">
        <div class="cell small-6">Mana Cost:
          {% set cost = card[3].replace('{','') %}
          {% set cost = cost.split('}') %}
          {% for mana in cost %}
          {% if mana == "" %}
          {% else %}
          {% if mana|int(-1) != -1 %}
          {{mana}}
          {% else %}
          <img src=static/img/{{mana}}.png>
          {% endif %}
          {% endif %}
          {% endfor %}

        </div>
      </div>
      <div class="grid-x">
        <div class="cell small-6">
          Type: {{card[4]}}
        </div>
      </div>
      <div class="grid-x">
        <div class="cell small-6">
        </div>
      </div>
      <div class="grid-x">
        <div class="cell small-6">
          <h1>{{card[8]}}<br></h1>
            <a class="button" href="/change/{{user}}/{{card[1]}}/{{card[8]-1}}">Remove</a>
            <a class="button" href="/change/{{user}}/{{card[1]}}/{{card[8]+1}}">Add</a></td>
        </div>
      </div>
    </div>

  </div>




{% endfor %}
{% endif %}



</div>
{% endblock %}
